.chat-drawer {
    font-family: sans-serif;
    .MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorRight.MuiPaper-elevation0 {
        width: 340px;
    }
    @media screen and (max-width: 600px) {
        .MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorRight.MuiPaper-elevation0 {
            width: 100%;
        }
    }
    .chat-head-wrapper {
        border-bottom: 1px solid gray;
        box-shadow: 0px 0px 2px 0px grey;
        .chat-header {
            width: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .chat-drawer-list {
        height: 100%;
        margin: 6px;
        margin-right: 10px;
        margin-bottom: 80px;
        overflow-y: auto;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none; 
        
        .message-container {
            display: flow-root;
            margin: 6px 4px 0 0;
            .message-wrapper {
                box-shadow: 0 1px 6px -2px black;
                // border: 1px solid;
                float: left;
                min-width: 90px;
                max-width: 185px;
                border-radius: 4px;
                font-size: 14px;
                &.message-wrapper-right {
                    float: right;
                    background-color:#adffaf;
                }
                &.message-wrapper-left {
                    float: left;
                    background-color:#c7ecfc
                }
                .message-title-wrapper {
                    // background-color: #f3f3f3;
                    border-radius: 4px 4px 0 0;
                    padding: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .message-name {
                        margin: 0;
                    }
                    .message-timestamp {
                        font-size: 10px;
                    }
                }
                .actual-message {
                    margin: 4px;
                    line-break: anywhere;
                }
            }
        }
        .message-container:last-child {
            margin-bottom: 10px;
        }
        
    }
    
    .chat-drawer-list::-webkit-scrollbar{
        width: 0 !important;
    }

    .chat-drawer-back-icon {
        border-radius: 24px;
        padding: 10px;
        margin-left: 14px;
        color: white;
        width: 24px;
        height: 24px;
        margin-top: 8px;
        cursor: pointer;
        position: absolute;
    }
    .chat-drawer-input-wrapper {
        border-top: 1px solid gray;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid gray;
        box-shadow: 0px 0px 4px 0px grey;
        background-color: white;
        bottom: 0;
        position: absolute;
        right: 0;
        left: 0;
        .chat-drawer-input {
            width: 100%;
        }
    }
}

.send-section{
    display: flex;
    position: absolute; 
    margin: 5;
    right: 10px;
    bottom: 20px;
    width: 90%;
    background-color :#ffffff;
}